.heroBanner {
  padding: 4rem 0;
  background-image: url("/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 400px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
